@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.min-width {
  max-width: 1400px;
}

.test {
  float: inline-end;
}

.icon {
  transition: 300ms;
}

.icon:hover {
  scale: 115%;
}

.linkedin-icon:hover {
  color: rgb(28, 134, 255);
}

.github-icon:hover {
  color: rgb(43, 43, 43);
}

.whatsapp-icon:hover {
  color: rgb(44, 170, 65);
}

.header-link {
  transition: 300ms;
}

.header-link:hover {
  scale: 110%;
}